.main-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.payment-container {
  padding: 20px;
  text-align: center;
}
.payment-title {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #1e293b;
  margin-top: 10px;
  margin-bottom: 10px;
}
.details-first {
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #64748b;
  margin-bottom: 15px;
}
.payment-home {
  height: 32px;
  width: 131px;
  left: 0px;
  top: 0px;
  border-radius: 8px;
  padding: 8px, 16px, 8px, 16px;
  background: #f7931e;
  border-radius: 8px;
  border: none;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #ffffff;
  cursor: pointer;
}
